<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tk_mybatis_mapper</title>
</head>
<body>
<div>
    <h2>tk-mybatis简介</h2>
    tk-mybatis即通用mapper，使用它可以减少sql开发量，接口提供了丰富的crud方法，及Example相关的单表操作，简单调用即可。

    <h2>正确的打开姿势</h2>
    <h3>1 集成通用Mapper</h3>
    通用 Mapper 有很多种集成方式，这里会介绍大部分情况下的配置方式。<br>
    Java 编码方式集成是最少见的一种情况，但是通过这种集成方式可以很容易让大家看清通用 Mapper 集成的入口。<br>
    和 Spring 集成是最常见的，Spring Boot 也在慢慢成为主流，为了便于在集成通用 Mapper 的情况下仍然可以和第三方的工具集成，这里也会有很多种集成的方式。<br>
    <strong>本例主讲 SpringBoot 集成的方式。</strong><br><br>

    依赖：<br><br>
    groupId: tk.mybatis <br>
    artifactId: mapper-spring-boot-starter <br>


</div>
</body>
</html>